/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #0e1514;

@define-color blue #afc6ff;

@define-color blue_container #2d4578;

@define-color blue_source #0000ff;

@define-color blue_value #0000ff;

@define-color cyan #80d5d1;

@define-color cyan_container #00504e;

@define-color cyan_source #00ffff;

@define-color cyan_value #00ffff;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color green #95d5a7;

@define-color green_container #10512f;

@define-color green_source #00ff00;

@define-color green_value #00ff00;

@define-color inverse_on_surface #2b3231;

@define-color inverse_primary #006a65;

@define-color inverse_surface #dde4e2;

@define-color magenta #e4b7f3;

@define-color magenta_container #5c386b;

@define-color magenta_source #ff00ff;

@define-color magenta_value #ff00ff;

@define-color on_background #dde4e2;

@define-color on_blue #142f60;

@define-color on_blue_container #d9e2ff;

@define-color on_cyan #003736;

@define-color on_cyan_container #9cf1ee;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_green #00391d;

@define-color on_green_container #b0f1c2;

@define-color on_magenta #442253;

@define-color on_magenta_container #f7d8ff;

@define-color on_primary #003734;

@define-color on_primary_container #9df1eb;

@define-color on_primary_fixed #00201e;

@define-color on_primary_fixed_variant #00504c;

@define-color on_red #542105;

@define-color on_red_container #ffdbcd;

@define-color on_secondary #1b3533;

@define-color on_secondary_container #cce8e5;

@define-color on_secondary_fixed #051f1e;

@define-color on_secondary_fixed_variant #324b49;

@define-color on_surface #dde4e2;

@define-color on_surface_variant #bec9c7;

@define-color on_tertiary #19324a;

@define-color on_tertiary_container #d0e4ff;

@define-color on_tertiary_fixed #001d34;

@define-color on_tertiary_fixed_variant #314962;

@define-color on_white #00363d;

@define-color on_white_container #9eeffd;

@define-color on_yellow #263500;

@define-color on_yellow_container #d4ec9d;

@define-color outline #889391;

@define-color outline_variant #3f4948;

@define-color primary #80d5cf;

@define-color primary_container #00504c;

@define-color primary_fixed #9df1eb;

@define-color primary_fixed_dim #80d5cf;

@define-color red #ffb595;

@define-color red_container #713619;

@define-color red_source #ff0000;

@define-color red_value #ff0000;

@define-color scrim #000000;

@define-color secondary #b0ccc9;

@define-color secondary_container #324b49;

@define-color secondary_fixed #cce8e5;

@define-color secondary_fixed_dim #b0ccc9;

@define-color shadow #000000;

@define-color source_color #5f928e;

@define-color surface #0e1514;

@define-color surface_bright #343a3a;

@define-color surface_container #1a2120;

@define-color surface_container_high #252b2a;

@define-color surface_container_highest #2f3635;

@define-color surface_container_low #161d1c;

@define-color surface_container_lowest #090f0f;

@define-color surface_dim #0e1514;

@define-color surface_tint #80d5cf;

@define-color surface_variant #3f4948;

@define-color tertiary #b0c9e7;

@define-color tertiary_container #314962;

@define-color tertiary_fixed #d0e4ff;

@define-color tertiary_fixed_dim #b0c9e7;

@define-color white #82d3e0;

@define-color white_container #004f58;

@define-color white_source #ffffff;

@define-color white_value #ffffff;

@define-color yellow #b8cf84;

@define-color yellow_container #3b4d0f;

@define-color yellow_source #ffff00;

@define-color yellow_value #ffff00;


