/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #0e1513;

@define-color blue #afc6ff;

@define-color blue_container #2d4578;

@define-color blue_source #0000ff;

@define-color blue_value #0000ff;

@define-color cyan #81d5ca;

@define-color cyan_container #005049;

@define-color cyan_source #00ffff;

@define-color cyan_value #00ffff;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color green #95d5a7;

@define-color green_container #10512f;

@define-color green_source #00ff00;

@define-color green_value #00ff00;

@define-color inverse_on_surface #2b322f;

@define-color inverse_primary #0a6b5a;

@define-color inverse_surface #dee4e0;

@define-color magenta #e4b7f3;

@define-color magenta_container #5c386b;

@define-color magenta_source #ff00ff;

@define-color magenta_value #ff00ff;

@define-color on_background #dee4e0;

@define-color on_blue #142f60;

@define-color on_blue_container #d9e2ff;

@define-color on_cyan #003732;

@define-color on_cyan_container #9df2e6;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_green #00391d;

@define-color on_green_container #b0f1c2;

@define-color on_magenta #442253;

@define-color on_magenta_container #f7d8ff;

@define-color on_primary #00382d;

@define-color on_primary_container #a1f2dc;

@define-color on_primary_fixed #00201a;

@define-color on_primary_fixed_variant #005143;

@define-color on_red #542105;

@define-color on_red_container #ffdbcd;

@define-color on_secondary #1d352e;

@define-color on_secondary_container #cde8df;

@define-color on_secondary_fixed #07201a;

@define-color on_secondary_fixed_variant #334b45;

@define-color on_surface #dee4e0;

@define-color on_surface_variant #bfc9c4;

@define-color on_tertiary #103447;

@define-color on_tertiary_container #c7e7ff;

@define-color on_tertiary_fixed #001e2e;

@define-color on_tertiary_fixed_variant #2a4a5f;

@define-color on_white #00363d;

@define-color on_white_container #9eeffd;

@define-color on_yellow #263500;

@define-color on_yellow_container #d4ec9d;

@define-color outline #89938f;

@define-color outline_variant #3f4945;

@define-color primary #85d6c0;

@define-color primary_container #005143;

@define-color primary_fixed #a1f2dc;

@define-color primary_fixed_dim #85d6c0;

@define-color red #ffb595;

@define-color red_container #713619;

@define-color red_source #ff0000;

@define-color red_value #ff0000;

@define-color scrim #000000;

@define-color secondary #b1ccc3;

@define-color secondary_container #334b45;

@define-color secondary_fixed #cde8df;

@define-color secondary_fixed_dim #b1ccc3;

@define-color shadow #000000;

@define-color source_color #047c68;

@define-color surface #0e1513;

@define-color surface_bright #343b38;

@define-color surface_container #1b211f;

@define-color surface_container_high #252b29;

@define-color surface_container_highest #303634;

@define-color surface_container_low #171d1b;

@define-color surface_container_lowest #090f0e;

@define-color surface_dim #0e1513;

@define-color surface_tint #85d6c0;

@define-color surface_variant #3f4945;

@define-color tertiary #aacbe3;

@define-color tertiary_container #2a4a5f;

@define-color tertiary_fixed #c7e7ff;

@define-color tertiary_fixed_dim #aacbe3;

@define-color white #82d3e0;

@define-color white_container #004f58;

@define-color white_source #ffffff;

@define-color white_value #ffffff;

@define-color yellow #b8cf84;

@define-color yellow_container #3b4d0f;

@define-color yellow_source #ffff00;

@define-color yellow_value #ffff00;


