/* Gruvbox - Waybar Color Palette */

@define-color bg0 #1d2021;
@define-color bg1 #282828;
@define-color bg2 #32302f;
@define-color bg3 #3c3836;
@define-color bg4 #504945;
@define-color background #0e1416;
@define-color on_surface #a89984;

@define-color fg  #ebdbb2;

@define-color red    #fb4934;
@define-color orange #fe8019;
@define-color yellow #fabd2f;
@define-color green  #b8bb26;
@define-color aqua   #8ec07c;
@define-color blue   #83a598;
@define-color purple #d3869b;

@define-color grey0 #665c54;
@define-color grey1 #928374;
@define-color grey2 #a89984;

