/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┓┓ ┳┳┏┓┓┏  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┣┫┃ ┃┃┗┓┣┫━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┻┛┗┛┗┛┗┛┛┗  ┗┛┗┛┗┛
 */

/*----------Import Matugen Colors--------*/
@import "../../matugen/matugen-waybar.css";

/*----------Global Defaults--------------*/
* {
    min-height: 0;
    min-width: 0;
    font-family: "GeistMono Nerd Font Propo";
    font-size: 12px;
    font-weight: 600;
}

/*----------Waybar Window----------------*/
window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: @surface-alpha;
}

/*----------Workspaces-------------------*/
#workspaces button {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: @surface;
    color: @on_surface;
}

#workspaces button:hover {
    color: @scrim;
    background-color: @tertiary;
}

#workspaces button.active {
    background-color: @surface;
    color: @primary;
}

#workspaces button.urgent {
    background-color: @surface;
    color: @error;
}

/*----------Taskbar----------------------*/
#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px 3px;
    margin: 0.4rem 0px;
    border-radius: 3px;
    color: @on_surface;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @primary;
    color: @scrim;
    margin: 0.4rem 3px;
    padding: 0px 12px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @tertiary;
    color: @scrim;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/*----------Main Modules-----------------*/
#clock,
#pulseaudio,
#custom-logo,
#custom-launcher,
#custom-spotify,
#custom-notification,
#battery,
#cpu,
#tray,
#memory,
#taskbar,
#mpris {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: @surface;
}

/*----------MPRIS------------------------*/
#mpris.playing {
    color: @primary;
}

#mpris.paused {
    color: @error;
}

/*----------Separators-------------------*/
#custom-sep {
    padding: 0px;
    color: @primary;
}

/*----------Battery----------------------*/
#battery {
    color: @on_surface;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @error;
}

/*----------CPU / Memory / Clock---------*/
#cpu {
    color: @primary;
}

#memory {
    color: @tertiary;
}

#clock,
#clock.simpleclock {
    color: @secondary;
}

/*----------Window Title-----------------*/
#window {
    color: @on_surface;
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: @primary;
}

#pulseaudio.muted {
    color: @error;
}

/*----------Launcher---------------------*/
#custom-launcher {
    padding: 0rem 0.8rem;
    color: @error;
}

/*----------Pacman / Colorpicker / Weather*/
#custom-pacman,
#custom-colorpicker,
#custom-weather {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0rem;
    background-color: @surface;
    border-left: none;
    border-right: none;
}

#custom-pacman {
    color: @primary;
    border-radius: 6px 0px 0px 6px;
}

#custom-colorpicker {
    color: @on_surface;
    border-radius: 0px 6px 6px 0px;
}

/*----------Tooltip----------------------*/
tooltip {
    background-color: @surface;
    border: 2px solid @primary;
}
