
/* E-Ink - Rofi Color Palette */

* {
    bg0: #f4f1ea;
    bg1: #ebe7de;
    bg2: #e1ddd3;
    bg3: #d6d1c7;
    bg4: #c9c3b8;

    fg:  #2b2b2b;
     fg0:    @on-surface;
    fg1:    #FFFFFF;
    fg2:    @primary;
    fg3:    #3D3D3D;

    red:    #4a4a4a;
    orange: #555555;
    yellow: #666666;
    green:  #5c5c5c;
    aqua:   #707070;
    blue:   #606060;
    purple: #6b6b6b;

    grey0: #8a857d;
    grey1: #a39e95;
    grey2: #bdb8ae;
}
