/* Nebula Mist - GTK Color Palette */

/* Window */
@define-color window_bg_color #0f1117;
@define-color window_fg_color #e0e6f0;

/* Sidebar */
@define-color sidebar_bg_color #1a1f2e;
@define-color sidebar_fg_color #e0e6f0;

/* View (file area) */
@define-color view_bg_color #0f1117;
@define-color view_fg_color #e0e6f0;

/* Accent (selection / active items) */
@define-color accent_color #89b4fa;
@define-color accent_fg_color #0f1117;

/* Optional header harmony */
@define-color headerbar_bg_color #0f1117;
@define-color headerbar_fg_color #e0e6f0;
