/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛┗┛┗┛
 */

/*----------Import Matugen Colors--------*/
@import "../../matugen/matugen-waybar.css";

/*----------Global Reset-----------------*/
* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;

    min-height: 0;
    padding: 0;
    margin: 0;
}

/*----------Waybar Window----------------*/
window#waybar {
    background: transparent;
}

/*----------Tooltip----------------------*/
tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

/*----------Workspaces-------------------*/
#workspaces {
    background-color: @bg0;
    padding: 5px 6px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @surface_variant;
    color: @on_surface;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background-color: @bg1;
    transition: all 150ms ease-in-out;
}

/*----------Workspace Active-------------*/
#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    min-width: 30px;
    transition: all 150ms ease-in-out;
}

/*----------Workspace Hover--------------*/
#workspaces button:hover {
    background-color: @secondary;
    color: @on_secondary;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

/*----------Workspace Urgent-------------*/
#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    background-size: 400% 400%;
    transition: all 150ms ease-in-out;
}

/*----------Module Containers------------*/
#clock,
#custom-apps,
#pulseaudio,
#custom-notification,
#mpris,
#network {
    background-color: @bg0;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border-radius: 12px;
}

/*----------Apps-------------------------*/
#custom-apps {
    color: @fg;
}

/*----------Clock------------------------*/
#clock {
    color: @fg;
}

/*----------MPRIS------------------------*/
#mpris {
    color: @fg;
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: @fg;
}

/*----------Network----------------------*/
#network {
    color: @fg;
    margin-right: 11px;
}

/*----------Notification-----------------*/
#custom-notification {
    color: @fg;
}