/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(16, 21, 16, 0.5);

/* =========================
   MATERIAL / MATUGEN MAPPING
========================= */

/* Base surfaces */
@define-color bg0 @surface;
@define-color bg2 @surface_variant;

/* Foreground */
@define-color fg @on_surface;

/* Accents */
@define-color blue @primary;
@define-color green @tertiary;
@define-color aqua @secondary;
@define-color purple @secondary;
@define-color orange @primary;
@define-color red @error;

/* Greys / muted */
@define-color grey0 @outline;
@define-color grey11 alpha(@outline, 0.6);

/* Extra (typo-safe) */
@define-color grray @secondary;





/*-----All Colors--------*/

@define-color background #101510;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2d322d;

@define-color inverse_primary #306a42;

@define-color inverse_surface #dfe4dc;

@define-color on_background #dfe4dc;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #00391a;

@define-color on_primary_container #b3f1bf;

@define-color on_primary_fixed #00210d;

@define-color on_primary_fixed_variant #15512d;

@define-color on_secondary #223526;

@define-color on_secondary_container #d2e8d3;

@define-color on_secondary_fixed #0d1f12;

@define-color on_secondary_fixed_variant #384b3c;

@define-color on_surface #dfe4dc;

@define-color on_surface_variant #c1c9bf;

@define-color on_tertiary #01363f;

@define-color on_tertiary_container #beeaf6;

@define-color on_tertiary_fixed #001f25;

@define-color on_tertiary_fixed_variant #204d56;

@define-color outline #8b938a;

@define-color outline_variant #414941;

@define-color primary #97d5a5;

@define-color primary_container #15512d;

@define-color primary_fixed #b3f1bf;

@define-color primary_fixed_dim #97d5a5;

@define-color scrim #000000;

@define-color secondary #b6ccb8;

@define-color secondary_container #384b3c;

@define-color secondary_fixed #d2e8d3;

@define-color secondary_fixed_dim #b6ccb8;

@define-color shadow #000000;

@define-color source_color #495049;

@define-color surface #101510;

@define-color surface_bright #353a35;

@define-color surface_container #1c211c;

@define-color surface_container_high #262b26;

@define-color surface_container_highest #313631;

@define-color surface_container_low #181d18;

@define-color surface_container_lowest #0a0f0b;

@define-color surface_dim #101510;

@define-color surface_tint #97d5a5;

@define-color surface_variant #414941;

@define-color tertiary #a2ced9;

@define-color tertiary_container #204d56;

@define-color tertiary_fixed #beeaf6;

@define-color tertiary_fixed_dim #a2ced9;


/* ===== Compatibility aliases for custom style.css ===== */
/* ===== Compatibility aliases for custom style.css ===== */

@define-color bg0 @background;
@define-color bg1 @surface_container;
@define-color bg3 @surface_variant;
@define-color bg4 @surface_container_high;

@define-color fg @primary ;
@define-color red @error;