/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┳┓┳┳┓┳┳┳┓┏┓┓   ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃┃┃┃┃┃┃┃┃┃┣┫┃ ━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┛ ┗┻┛┗┻┛ ┗┛┗┗┛  ┗┛┗┛┗┛
 */

/*----------Import Matugen Colors--------*/
@import "../../theme.css";

/*----------Global Defaults--------------*/
* {
    font-size: 12px;
    font-family: "CodeNewRoman Nerd Font Propo";
    font-weight: bold;
}

/*----------Waybar Reset-----------------*/
window#waybar {
    all: unset;
}

/*----------Modules Containers-----------*/
.modules-left {
    padding: 7px;
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 7px;
    margin: 10px 0px 5px 0px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding: 7px;
    margin: 10px 10px 5px 0px;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

/*----------Tooltip----------------------*/
tooltip {
    background: @background;
    border: 2px solid @primary;
    border-radius: 12px;
}

tooltip-label {
    color: @on_surface;
    padding: 5px;
}

/*----------Moonveil center-------------*/
#custom-moonveil  {
    margin-right: 6px;
    background-image: url("../../../assets/moonveil.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-right: 15px;
}

/*----------Hover Highlight--------------*/
#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color: @tertiary;
}

/*----------Clock------------------------*/
#clock {
    padding: 0px 5px;
    color: @on_surface;
    transition: all .3s ease;
}

/*----------Notification-----------------*/
#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Pacman-----------------------*/
#custom-pacman {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Workspaces-------------------*/
#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@blue, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @primary;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @secondary_container;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/*----------Bluetooth--------------------*/
#bluetooth {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Network----------------------*/
#network {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Weather----------------------*/
#custom-weather {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Battery----------------------*/
#battery {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

#battery.charging {
    color: @tertiary;
}

#battery.warning:not(.charging) {
    color: @error;
}

#battery.critical:not(.charging) {
    color: @error_container;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*----------Expand Group-----------------*/
#group-expand {
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: alpha(@on_surface, .2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

/*----------Color Picker-----------------*/
#custom-colorpicker {
    padding: 0px 5px;
}

/*----------CPU / Memory / Temp----------*/
#cpu,
#memory,
#temperature {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @on_surface;
}

/*----------Endpoint---------------------*/
#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

/*----------Tray-------------------------*/
#tray {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
