/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛┗┛┗┛
 */

/*----------Imports----------------------*/
@import "matugen/matugen-waybar.css";

/*----------Global Reset-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
}

/*----------Waybar Container-------------*/
#waybar {
    background-color: transparent;
    padding: 6px;
    border-radius: 14px;
}

/*----------Tooltip----------------------*/
tooltip {
    background: @surface;
    border: 1px solid @surface_variant;
    border-radius: 12px;
}

tooltip label {
    color: @on_surface;
    padding: 6px;
}

/*----------Workspaces Container---------*/
#workspaces {
    background-color: @surface;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @surface_variant;
    color: @on_surface;
}

/*----------Workspace Buttons------------*/
#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 30px;
    color: transparent;
    background-color: @surface_variant;
    transition: all 0.3s ease-in-out;
}

/*----------Workspace Active-------------*/
#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    min-width: 30px;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

/*----------Workspace Hover--------------*/
#workspaces button:hover {
    background-color: @secondary;
    color: @on_secondary;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
}

/*----------Workspace Urgent-------------*/
#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
    border-radius: 16px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

/*----------Module Containers------------*/
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification {
    background-color: @surface;
    padding: 0 15px;
    margin: 0 0 0 12px;
    border: 1px solid @surface_variant;
    border-radius: 12px;
    color: @on_surface;
}

/*----------Clock------------------------*/
#clock {
    color: @primary;
}

/*----------Notification-----------------*/
#custom-notification {
    color: @on_surface;
    margin: 0 12px;
}

/*----------Pulseaudio-------------------*/
#pulseaudio {
    color: @tertiary;
}

/*----------Network----------------------*/
#network {
    color: @secondary;
}

/*----------Battery----------------------*/
#battery {
    color: @inverse_primary;
}