/***
 *    ┓ ┏┓ ┏┓┏┓┏┓┳┳┏┳┓
 *    ┃┃┃┃ ┃┃┃┓┃┃┃┃ ┃ 
 *    ┗┻┛┗┛┗┛┗┛┗┛┗┛ ┻ 
 */

/* wallust-wlogout */

/* Importing matugen colors */
@import '../../.config/waybar/matugen/matugen-waybar.css';


window {
    font-family: GeistMono Nerd Font Propo;
    font-size: 16pt;
    color: @foreground;
    background-color: @surface-alpha;
}

/* BUTTONS */
button {
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;

    min-width: 50px;
    min-height: 50px;
    padding: 20px;
}

/* TEXT LABELS (THIS WAS MISSING) */
label {
    color: @foreground;
    font-size: 12pt;
    font-weight: 500;
    margin-top: 12px;
}

/* FOCUS */
button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 20%;
}

/* HOVER */
button:hover {
    background-size: 50%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @primary;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682),
                box-shadow 0.5s ease-in;
}

/* ICONS */
#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover {
    background-image: image(url("./icons/power-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover {
    background-image: image(url("./icons/restart-hover.png"));
}

#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
}

#sleep {
    background-image: image(url("./icons/hibernate.png"));
}
#sleep:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
}