/* --- Global Styles --- */
@import "../../matugen/matugen-waybar.css";

* {
  font-family: "Google Sans Flex", "SF Pro Display",
    "Segoe UI", "GeistMono Nerd Font Propo",
    "Noto Sans CJK SC", "Noto Sans CJK JP",
    sans-serif;
  min-height: 0;
  font-size: 0.8rem;
}

/* --- Waybar Container --- */
#waybar {
  border-radius: 100px;
  margin: 0px;
  font-weight: 500;
  background-color: transparent;
}

.modules-center {
  background-color: @on_primary_fixed;
  border-radius: 100px;
}

/* --- Workspaces --- */
#workspaces {
  padding: 0.2rem 2px;
  border-radius: 100px;
  margin-left: 6px;
  margin-right: 6px;
  background: @on_primary_fixed;
  color: @on_surface;
  min-width: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces button {
  color: @primary_fixed;
  border-radius: 100px;
  padding: 0.2rem 0.45rem;
  margin: 0px 2px;
  background: inherit;
  border: none;
  outline: none;
  transition: all 0.25s ease-in-out;
}

#workspaces button.active {
  background: linear-gradient(
    120deg,
    @primary,
    @tertiary,
    @secondary,
    @primary,
    @secondary,
    @tertiary,
    @primary
  );
  color: @scrim;
  padding: 0.2rem 0.8rem;
  min-width: 22px;
}

#workspaces button:hover {
  background-color: @tertiary;
  color: @scrim;
  padding: 0.2rem 0.8rem;
  min-width: 22px;
}

/* --- Clock --- */
#clock {
  color: @primary;
  background-color: @on_primary_fixed;
  padding: 0.2rem 0.6rem;
  margin: 4px 4px;
  border-radius: 100px;
  min-width: 0;
  border: none;
}

/* --- System Modules --- */
#custom-power,
#custom-notification,
#pulseaudio,
#network {
  background-color: @on_primary_fixed;
  padding: 0.2rem 0.6rem;
  margin: 4px 4px;
  border-radius: 100px;
  min-width: 0;
  color: @tertiary;
  border: none;
}

#custom-power {
  padding-right: 0.4rem;
  color: @error;
  min-width: 14px;
  transition: all 0.2s ease-in-out;
}

#tray {
  padding-right: 0.4rem;
}

#custom-notification {
  padding-right: 0.85rem;
  transition: all 0.2s ease-in-out;
}

/* --- MPD --- */
#mpd,
#custom-mpd-prev,
#custom-mpd-next {
  color: @primary;
  background-color: @on_primary_fixed;
  padding: 0.2rem 0.6rem;
  margin: 4px 0px;
  border-radius: 100px;
  min-width: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}

#custom-mpd-prev {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 4px;
}

#custom-mpd-next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 4px;
  padding-right: 8px;
}

#custom-mpd-prev:hover,
#custom-mpd-next:hover {
  background-color: @surface_container_highest;
}

/* --- Menu --- */
#custom-menu {
  background-color: @surface;
  padding: 0.2rem 0.6rem;
  margin: 4px 4px;
  border-radius: 100px;
  color: @on_surface;
  min-width: 12px;
  border: none;
  transition: all 0.2s ease-in-out;
}