/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(14, 21, 20, 0.5);

/* =========================
   MATERIAL / MATUGEN MAPPING
========================= */

/* Base surfaces */
@define-color bg0 @surface;
@define-color bg2 @surface_variant;

/* Foreground */
@define-color fg @on_surface;

/* Accents */
@define-color blue @primary;
@define-color green @tertiary;
@define-color aqua @secondary;
@define-color purple @secondary;
@define-color orange @primary;
@define-color red @error;

/* Greys / muted */
@define-color grey0 @outline;
@define-color grey11 alpha(@outline, 0.6);

/* Extra (typo-safe) */
@define-color grray @secondary;


/*-----All Colors--------*/

@define-color background #0e1514;

@define-color blue #afc6ff;

@define-color blue_container #2d4578;

@define-color blue_source #0000ff;

@define-color blue_value #0000ff;

@define-color cyan #80d5d2;

@define-color cyan_container #00504e;

@define-color cyan_source #00ffff;

@define-color cyan_value #00ffff;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color green #95d5a7;

@define-color green_container #10512f;

@define-color green_source #00ff00;

@define-color green_value #00ff00;

@define-color inverse_on_surface #2b3231;

@define-color inverse_primary #006a66;

@define-color inverse_surface #dde4e2;

@define-color magenta #e4b7f3;

@define-color magenta_container #5c386b;

@define-color magenta_source #ff00ff;

@define-color magenta_value #ff00ff;

@define-color on_background #dde4e2;

@define-color on_blue #142f60;

@define-color on_blue_container #d9e2ff;

@define-color on_cyan #003736;

@define-color on_cyan_container #9cf1ee;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_green #00391d;

@define-color on_green_container #b0f1c2;

@define-color on_magenta #442253;

@define-color on_magenta_container #f7d8ff;

@define-color on_primary #003735;

@define-color on_primary_container #9cf1ec;

@define-color on_primary_fixed #00201f;

@define-color on_primary_fixed_variant #00504d;

@define-color on_red #542105;

@define-color on_red_container #ffdbcd;

@define-color on_secondary #1b3533;

@define-color on_secondary_container #cce8e5;

@define-color on_secondary_fixed #051f1e;

@define-color on_secondary_fixed_variant #324b4a;

@define-color on_surface #dde4e2;

@define-color on_surface_variant #bec9c7;

@define-color on_tertiary #1a324b;

@define-color on_tertiary_container #d1e4ff;

@define-color on_tertiary_fixed #011d35;

@define-color on_tertiary_fixed_variant #314862;

@define-color on_white #00363d;

@define-color on_white_container #9eeffd;

@define-color on_yellow #263500;

@define-color on_yellow_container #d4ec9d;

@define-color outline #889391;

@define-color outline_variant #3f4948;

@define-color primary #80d5d0;

@define-color primary_container #00504d;

@define-color primary_fixed #9cf1ec;

@define-color primary_fixed_dim #80d5d0;

@define-color red #ffb595;

@define-color red_container #713619;

@define-color red_source #ff0000;

@define-color red_value #ff0000;

@define-color scrim #000000;

@define-color secondary #b0ccc9;

@define-color secondary_container #324b4a;

@define-color secondary_fixed #cce8e5;

@define-color secondary_fixed_dim #b0ccc9;

@define-color shadow #000000;

@define-color source_color #37706d;

@define-color surface #0e1514;

@define-color surface_bright #343a3a;

@define-color surface_container #1a2120;

@define-color surface_container_high #252b2b;

@define-color surface_container_highest #2f3635;

@define-color surface_container_low #161d1c;

@define-color surface_container_lowest #090f0f;

@define-color surface_dim #0e1514;

@define-color surface_tint #80d5d0;

@define-color surface_variant #3f4948;

@define-color tertiary #b1c9e8;

@define-color tertiary_container #314862;

@define-color tertiary_fixed #d1e4ff;

@define-color tertiary_fixed_dim #b1c9e8;

@define-color white #82d3e0;

@define-color white_container #004f58;

@define-color white_source #ffffff;

@define-color white_value #ffffff;

@define-color yellow #b8cf84;

@define-color yellow_container #3b4d0f;

@define-color yellow_source #ffff00;

@define-color yellow_value #ffff00;
