/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(26, 17, 17, 0.5);

/* =========================
   MATERIAL / MATUGEN MAPPING
========================= */

/* Base surfaces */
@define-color bg0 @surface;
@define-color bg2 @surface_variant;

/* Foreground */
@define-color fg @on_surface;

/* Accents */
@define-color blue @primary;
@define-color green @tertiary;
@define-color aqua @secondary;
@define-color purple @secondary;
@define-color orange @primary;
@define-color red @error;

/* Greys / muted */
@define-color grey0 @outline;
@define-color grey11 alpha(@outline, 0.6);

/* Extra (typo-safe) */
@define-color grray @secondary;


/*-----All Colors--------*/

@define-color background #1a1111;

@define-color blue #cebdfe;

@define-color blue_container #4c3e76;

@define-color blue_source #0000ff;

@define-color blue_value #0000ff;

@define-color cyan #84d5c4;

@define-color cyan_container #005045;

@define-color cyan_source #00ffff;

@define-color cyan_value #00ffff;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color green #b7d085;

@define-color green_container #3a4d10;

@define-color green_source #00ff00;

@define-color green_value #00ff00;

@define-color inverse_on_surface #382e2d;

@define-color inverse_primary #904a49;

@define-color inverse_surface #f0dedd;

@define-color magenta #fcb0d5;

@define-color magenta_container #6c3353;

@define-color magenta_source #ff00ff;

@define-color magenta_value #ff00ff;

@define-color on_background #f0dedd;

@define-color on_blue #35275e;

@define-color on_blue_container #e8ddff;

@define-color on_cyan #00382f;

@define-color on_cyan_container #9ff2e0;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_green #253600;

@define-color on_green_container #d3ec9e;

@define-color on_magenta #521d3c;

@define-color on_magenta_container #ffd8e8;

@define-color on_primary #571d1e;

@define-color on_primary_container #ffdad8;

@define-color on_primary_fixed #3b080b;

@define-color on_primary_fixed_variant #733333;

@define-color on_red #571e1a;

@define-color on_red_container #ffdad6;

@define-color on_secondary #442928;

@define-color on_secondary_container #ffdad8;

@define-color on_secondary_fixed #2c1514;

@define-color on_secondary_fixed_variant #5d3f3e;

@define-color on_surface #f0dedd;

@define-color on_surface_variant #d7c1c0;

@define-color on_tertiary #412d05;

@define-color on_tertiary_container #ffdeab;

@define-color on_tertiary_fixed #271900;

@define-color on_tertiary_fixed_variant #5a4319;

@define-color on_white #00363d;

@define-color on_white_container #9eeffd;

@define-color on_yellow #3b2f00;

@define-color on_yellow_container #fce186;

@define-color outline #a08c8b;

@define-color outline_variant #534342;

@define-color primary #ffb3b0;

@define-color primary_container #733333;

@define-color primary_fixed #ffdad8;

@define-color primary_fixed_dim #ffb3b0;

@define-color red #ffb3ac;

@define-color red_container #73332f;

@define-color red_source #ff0000;

@define-color red_value #ff0000;

@define-color scrim #000000;

@define-color secondary #e6bdbb;

@define-color secondary_container #5d3f3e;

@define-color secondary_fixed #ffdad8;

@define-color secondary_fixed_dim #e6bdbb;

@define-color shadow #000000;

@define-color source_color #d8595a;

@define-color surface #1a1111;

@define-color surface_bright #423736;

@define-color surface_container #271d1d;

@define-color surface_container_high #322827;

@define-color surface_container_highest #3d3232;

@define-color surface_container_low #231919;

@define-color surface_container_lowest #140c0c;

@define-color surface_dim #1a1111;

@define-color surface_tint #ffb3b0;

@define-color surface_variant #534342;

@define-color tertiary #e3c28c;

@define-color tertiary_container #5a4319;

@define-color tertiary_fixed #ffdeab;

@define-color tertiary_fixed_dim #e3c28c;

@define-color white #82d3e0;

@define-color white_container #004f58;

@define-color white_source #ffffff;

@define-color white_value #ffffff;

@define-color yellow #dec56e;

@define-color yellow_container #554500;

@define-color yellow_source #ffff00;

@define-color yellow_value #ffff00;
