/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┓ ┏┏┓┓┏┳┓┏┓┳┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┃┃┃┣┫┗┫┣┫┣┫┣┫
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┻┛┛┗┗┛┻┛┛┗┛┗
 *                                   
 */


/*-----Surface Transparent Background------*/
@define-color surface-alpha {{colors.surface.default.rgba | set_alpha: 0.5}};

/* =========================
   MATERIAL / MATUGEN MAPPING
========================= */

/* Base surfaces */
@define-color bg0 @surface;
@define-color bg2 @surface_variant;

/* Foreground */
@define-color fg @on_surface;

/* Accents */
@define-color blue @primary;
@define-color green @tertiary;
@define-color aqua @secondary;
@define-color purple @secondary;
@define-color orange @primary;
@define-color red @error;

/* Greys / muted */
@define-color grey0 @outline;
@define-color grey11 alpha(@outline, 0.6);

/* Extra (typo-safe) */
@define-color grray @secondary;


/*-----All Colors--------*/
<* for name, value in colors *>
@define-color {{name}} {{value.default.hex}};
<* endfor *>